/* You can add global styles to this file, and also import other style files */


body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


*{
    box-sizing: border-box;
}